@use '../global' as *;

// Mobile first


// Tablet
@include respond-to(tablet) {

}

// Desktop
@include respond-to(desktop) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #111;
        padding: 10px 20px;

        .header-logo {
            display: flex;
            align-items: center;
            margin: 0 1rem;
        }

        .header-actions {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}

