@use '../global' as *;

// Mobile first


// Tablet
@include respond-to(tablet) {

}

// Desktop
@include respond-to(desktop) {
    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: rgba($dark-color, 0.7);
        backdrop-filter: blur(3px);
        padding-block: 1rem;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 10;

        .logo-header {
            display: flex;
            align-items: center;
            margin: 0 2rem;
            width: 8rem;
        }

        .header-actions {
            display: flex;
            align-items: center;
            margin: 0 3rem;
            gap: 2rem;
        }
    }
}

