@use '../global' as *;
@use "sass:color";

// Mobile first


// Tablet
@include respond-to(tablet) {

}

// Desktop
@include respond-to(desktop) {
    .header {
        position: fixed;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background: rgba($primary-color, 0.1);
        backdrop-filter: blur(3px);
        padding-block: 0.5rem;
        top: 0;
        left: 0;
        z-index: 10;
        box-sizing: border-box;

        .logo-header {
            display: flex;
            align-items: center;
            margin: 0 2rem;
            width: 8rem;
        }

        .header-actions {
            display: flex;
            align-items: center;
            margin: 0 3rem;
            gap: 2rem;
        }
    }
}

