.video-card {
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 0 1rem;
    justify-content: space-between;

    .thumbnail {
        height: 300px;
        width: auto;
        object-fit: cover;
        border-radius: 8px;
        transition: all 0.3s ease;

        &.hovered {
            width: 100%;
            z-index: 2;
        }
    }

    .video-info {
        padding: 0 0.2rem;
        font-size: 1rem;
        color: white;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover {
        z-index: 5;
        transform: scale(1.05);

        .video-info {
            opacity: 1;
        }
    }
}
