@use '../../global' as *;

// Mobile first


// Tablet
@include respond-to(tablet) {

}

// Desktop
@include respond-to(desktop) {
    .video-likes {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        button {
            background: none;
            border: 1px solid $details-color;
            border-radius: 6px;
            padding: 5px 10px;
            color: $primary-color;
            cursor: pointer;
            transition: all 0.2s ease;
            background-color: $dark-color;

            &.active {
                background-color: $details-color;
                border-color: $details-color;
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        span {
            font-size: 1rem;
            color: $primary-color;
        }

        h1 {
            margin-left: 1rem;
            font-size: 1rem;
            color: $primary-color;
        }
    }
}