@use '../../global' as *;
@use "sass:color";


// Mobile first


// Tablet
@include respond-to(tablet) {

}

// Desktop
@include respond-to(desktop) {
    .videoPlayer-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: auto;
        color: $primary-color;
        background-color: rgba($dark-color, 1);
        border-radius: 15px;

        .video-player {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba($dark-color, 0.2);
            font-family: $primary-font;
        }

        h1 {
            margin-top: 1.5rem;
            font-size: 1.5rem;
            text-align: center;
            color: $primary-color;
        }
    }
}