@use '../../global' as *;
@use "sass:color";

// Mobile first

// Tablet
@include respond-to(tablet) {

}

// Desktop
@include respond-to(desktop) {
    // Login Button
    .login-button {
        margin-top: 1rem;
        padding: 0.75rem;
        width: 50%;
        border: none;
        border-radius: 20px;
        box-shadow: inset -1px -1px 5px rgba(255, 255, 255, 0.3),
            -2px -2px 3px rgba(0, 0, 0, 0.2);
        color: $dark-color;
        background: rgba($details-color, 0.2);
        font-size: 1rem;
        cursor: pointer;
        // transform: scale(0.9);
        transition: all 0.3s ease;
        z-index: 2;

        &:hover, &:focus {
            background: color.scale($details-color, $lightness: 25%);
            transform: scale(1.1);
            width: 80%;
            font-weight: bold;
            text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1),
                1px -1px 0px rgba(0, 0, 0, 0.1), -1px 1px 0px rgba(0, 0, 0, 0.1),
                1px 1px 0px rgba(0, 0, 0, 0.1);
            color: $primary-color;
            border: none;
            box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.5), inset -3px 3px 5px rgba(255, 255, 255, 0.5), inset 3px -3px 5px rgba(0, 0, 0, 0.2);
        }

        &:active {
            transform: scale(1);
            background: color.scale($details-color, $lightness: 0%);
        }
    }

    .filter-order {
        background: none;
        border: 1px solid #333;
        color: white;
        border-radius: 0 8px 8px 0;
        padding: 0.17rem 0.5rem;
        cursor: pointer;
        transition: all 0.2s ease;
        background-color: $dark-color;

        &:hover {
            background-color: $details-color;
            color: $dark-color;
        }

        &:active {
            background: color.scale($details-color, $lightness: -30%);
        }
    }

    .search-button {
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        transition: transform 0.2s ease;
        z-index: 2;

        &:hover {
            transform: scale(1.2);
        }
    }

    .profile-button {
        background: color.scale($dark-color, $lightness: 30%); ;
        border: none;
        border-radius: 50%;
        padding: 0.2rem;
        font-size: 22px;
        cursor: pointer;
        transition: transform 0.2s ease;

        img {
            border-radius: 100%;
            width: 2rem;
            height: 1.7rem;
            object-fit: cover;
        }

        &:hover {
            transform: scale(1.2);
        }

        &.open {
            background-color: $dark-color;
            border-radius: 20px 20px 0px 0px;
            pointer-events: cursor;

            &:hover {
                transform: scale(1);
            }

            &::after {
                content: '';
                position: absolute;
                border-radius: 20px 20px 0px 0px;
                top: 0;
                left: 0;
                width: 100%;
                height: 120%;
                background-color: $dark-color;
                z-index: -1;
            }
        }
    }

    .dropdown-item{
        background: none;
        color: white;
        border: none;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            background-color: color.scale($dark-color, $lightness: 10%);
        }

        &:active {
            background: color.scale($dark-color, $lightness: -30%);
        }
    }
}