@use '../../global' as *;
@use "sass:color";

// Mobile first


// Tablet
@include respond-to(tablet) {

}

// Desktop
@include respond-to(desktop) {
    .profile-container {
        position: relative;
        display: inline-block;

        .profile-button {
            background: grey;
            border: none;
            border-radius: 50%;
            padding: 0.2rem;
            font-size: 22px;
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.2);
            }
        }

        .dropdown-menu {
            position: absolute;
            right: 0;
            top: 110%;
            background-color: $dark-color;
            border-radius: 6px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            min-width: 150px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
            z-index: 1000;
        }
    }
}


