@use "sass:color";

.login-page {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .login-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: rgba(255, 255, 255, 1);
        padding: 2rem;
        border-radius: 10px;
        text-align: center;
        width: 20rem;
        height: 20rem;
        gap: 1rem;
        box-shadow: 10px 0px 20px rgb(255, 150, 0),
            -10px 0px 20px rgb(0, 150, 255);
        animation: neonMove 5s linear infinite;

        .login-button {
            margin-top: 1rem;
            padding: 0.75rem;
            width: 75%;
            border-color: black;
            border-radius: 10px;
            color: black;
            background: color.scale(white, $lightness: -30%);
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background: color.scale(white, $lightness: -50%);
            }
        }
    }
}


// Animation
@keyframes neonMove {
    0% {
        box-shadow: 10px 0px 20px rgb(255, 150, 0),
            -10px 0px 20px rgb(0, 150, 255);
    }
    25% {
        box-shadow: 0px 10px 20px rgb(255, 150, 0),
            0px -10px 20px rgb(0, 150, 255);
    }
    50% {
        box-shadow: -10px 0px 20px rgb(255, 150, 0),
            10px 0px 20px rgb(0, 150, 255);
    }
    75% {
        box-shadow: 0px -10px 20px rgb(255, 150, 0),
            0px 10px 20px rgb(0, 150, 255);
    }
    100% {
        box-shadow: 10px 0px 20px rgb(255, 150, 0),
            -10px 0px 20px rgb(0, 150, 255);
    }
}
