// Colors
$primary-color: #F2F2EC;
$details-color: rgb(70, 212, 255, 1);
$variant-color: rgb(255, 145, 0);
$dark-color: #131313;

// Fonts
$primary-font: 'Play', sans-serif;
$details-font: 'Michroma', sans-serif;
