@use "../global" as *;
@use "sass:color";

// Mobile first


// Tablet
@include respond-to(tablet) {

}

// Desktop
@include respond-to(desktop) {
    .login-form-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        gap: 1rem;

        .login-form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            z-index: 2;

            .form-group {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: start;

                label {
                    position: absolute;
                    color: rgba(128, 128, 128, 0.616);
                    margin: 0.2rem 1rem;
                    font-size: 1rem;
                    transform: translateY(0.7rem);
                    transition: all 0.3s ease;
                    pointer-events: none;
                }

                input {
                    padding: 0.7rem 1rem;
                    border-radius: 20px;
                    border-color: rgba($details-color, 0.5);
                    background: transparent;
                    outline: none;
                    font-size: 1rem;

                    &::placeholder {
                        font-size: 0.8rem;
                        opacity: 0;
                    }

                    &:focus,
                    &:not(:placeholder-shown) {
                        border: 2px solid $details-color;

                        & + label {
                            transform: translateY(-0.8rem);
                            font-size: 0.8rem;
                            background-color: $primary-color;
                            padding: 0.1rem 0.1rem;
                            border-radius: 5px;
                            color: $details-color;     
                        }
                    }

                }
            }
        }

    }
}
