@use "../../global" as *;
@use "sass:color";

// Mobile first

// Tablet
@include respond-to(tablet) {
}

// Desktop
@include respond-to(desktop) {
    .search-container {
        position: relative;
        display: flex;
        align-items: center;

        .search-input {
            position: absolute;
            right: 3rem;
            width: 0;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 20px;
            outline: none;
            background-color: #222;
            color: white;
            font-size: 1rem;

            &.open {
                width: 20rem;
                opacity: 1;
            }
        }

        .search-icon {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1.8rem;
            color: $primary-color;
            transition: transform 0.2s ease;
            z-index: 2;

            &:hover {
                transform: scale(1.2);
            }
        }

        .clear-icon {
            background: none;
            border: none;
            left: -30%;
            display: flex;
            align-items: center;
            width: 1.8rem;
            color: color.scale($primary-color, $lightness: -50%);
            cursor: pointer;
            position: relative;
            z-index: 2;
        }
    }
}
